$colors-map: (
  primary: #ff0049,
  secondary: #092b45,
  terciary: #FFF1E5,
  warning: #f78b50,
  danger: #f51e1c,
  success: #3acc08,
  white: white,
  black: black,
  grey: #ccd5da,
  background: #f5f5f5
);
