$iconWidth: 24px;
$iconHeight: 24px;
$iconPaddingRight: 8px;

.input {
  &-password{
    .input {
      &__control {
        position: relative;
      input {
        padding-right: calc(#{$iconWidth} + #{$iconPaddingRight} + 4px);
      }
      }
    }
    &__visibility-handler {
      position: absolute;
      top: 50%;
      right: $iconPaddingRight;
      transform: translatey(-50%);
      .icon{
        width: $iconWidth;
        height: $iconHeight;
      }
    }
  }

}