.input {
  max-width: 250px;
  width: 100%;
  &.w100 {
    max-width: none;
  }
  label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  input {
    width: 100%;
    padding:  0.8rem;
    border: 1px solid color(secondary, 0.2);
    border-radius: 2px;
  }
  &__count {
    margin-top: 0.25rem;
    display: block;
    width: 100%;
    text-align: right;
  }
  &__errors {
    margin-top: 5px;
    & > * {
      color: color(danger);
      font-size: 0.85rem;
      display: block;
      margin-left: 4px;
      margin-bottom: 2px
    };
  }
}